* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.footer-container {
  width: 100%;
  height: 10vh;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text1 {
  color: #9CA3AF;
  margin: 0;
  font-size: 1rem;
  /* Removed 'display: flex' as it's not needed for a single paragraph */
}

.footer-text2 {
  color: #D1D5DB;
  margin: 0;
  font-size: 0.8rem;
  /* Removed 'display: flex' as it's not needed for a single paragraph */
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #9CA3AF;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffffff;
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: #4A6CF7;
}
