<div class="recent-work-container">

  <h2 class="section-title">Recent Work</h2>

  <div class="work-grid">

    <!-- One Recent Work Card -->
    <div class="work-card" (click)="goToProject()">
      <!-- Add image link here -->
      <img 
        src="assets/images/recentWork1.PNG"
        alt="Recent Work Image"
        class="work-image"
      />

      <div class="work-content">
        <h3 class="work-title">Divine Dream Events</h3>
        <p class="work-desc">Cakes, Decorations & Photography in Sri Lanka. Elegant designs, artisanal quality, and timeless memories crafted for weddings, engagements, birthdays, and corporate celebrations.</p>
      </div>
    </div>

  </div>

</div>
