<app-nav-bar></app-nav-bar>

<!-- Main single-page sections -->
<div id="home">
  <app-home></app-home>
</div>

<div id="service">
  <app-service></app-service>
</div>

<div id="recent-work">
  <app-recent-work></app-recent-work>
</div>

<div id="about-us">
  <app-about-us></app-about-us>
</div>

<div id="client">
  <app-client></app-client>
</div>

<div id="choose-us">
  <app-choose-us></app-choose-us>
</div>

<div id="contact">
  <app-contact-us></app-contact-us>
</div>


<!-- Router outlet for full pages like Privacy & Terms -->



<router-outlet></router-outlet>

<app-footer></app-footer>


