<div class="navbar-container">
  <div class="navbar-content">
    <div class="logo">
      <span>🚀 Zoura Labs</span>
    </div>

    <!-- Hamburger menu button for tablet/mobile -->
    <button class="hamburger-menu-btn" (click)="toggleMenu()">
      <span class="material-icons text-white text-3xl" *ngIf="!isMenuOpen()">menu</span>
      <span class="material-icons text-white text-3xl" *ngIf="isMenuOpen()">close</span>
    </button>

    <!-- Navigation links -->
    <nav class="nav-links" [ngClass]="{'menu-open': isMenuOpen()}">
      <ul>
        <li><a routerLink="/services" routerLinkActive="active-link" (click)="toggleMenu()">Services</a></li>
        <li><a routerLink="/works" routerLinkActive="active-link" (click)="toggleMenu()">Works</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link" (click)="toggleMenu()">About Us</a></li>
        <li><a routerLink="/why-us" routerLinkActive="active-link" (click)="toggleMenu()">Why Us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link" (click)="toggleMenu()">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
