<div class="navbar-container">
  <div class="navbar-content">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Zoura Labs Logo" class="h-8 inline-block mr-2"  (click)="reloadPage()"/>
    </div>

    <!-- Hamburger menu button for tablet/mobile -->
    <button class="hamburger-menu-btn" (click)="toggleMenu()">
      <span class="material-icons text-white text-3xl" *ngIf="!menuOpen">menu</span>
      <span class="material-icons text-white text-3xl" *ngIf="menuOpen">close</span>
    </button>

    <!-- Navigation links -->
    <nav class="nav-links" [ngClass]="{'menu-open': menuOpen}">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active-link" >Home</a></li>
        <li><a routerLink="/services" routerLinkActive="active-link" >Services</a></li>
        <li><a routerLink="/works" routerLinkActive="active-link" >Works</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link" >About Us</a></li>
        <li><a routerLink="/why-us" routerLinkActive="active-link" >Why Us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link" >Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
